failed to get console mode for stdout: The handle is invalid.
--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2 (Debian 16.2-1.pgdg120+2)
-- Dumped by pg_dump version 16.2 (Debian 16.2-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: author; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.author (
    id_author integer NOT NULL,
    name_author character varying(255) NOT NULL
);


ALTER TABLE public.author OWNER TO "user";

--
-- Name: author_id_author_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.author_id_author_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.author_id_author_seq OWNER TO "user";

--
-- Name: author_id_author_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.author_id_author_seq OWNED BY public.author.id_author;


--
-- Name: author_language; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.author_language (
    id_author integer NOT NULL,
    id_language integer NOT NULL
);


ALTER TABLE public.author_language OWNER TO "user";

--
-- Name: language; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.language (
    id_language integer NOT NULL,
    id_level integer,
    open_source boolean NOT NULL,
    description_language text NOT NULL,
    name_language character varying(255) NOT NULL,
    year_language character varying(255) NOT NULL
);


ALTER TABLE public.language OWNER TO "user";

--
-- Name: language_id_language_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.language_id_language_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.language_id_language_seq OWNER TO "user";

--
-- Name: language_id_language_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.language_id_language_seq OWNED BY public.language.id_language;


--
-- Name: level; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.level (
    id_level integer NOT NULL,
    description_level character varying(255) NOT NULL,
    type_level character varying(255) NOT NULL
);


ALTER TABLE public.level OWNER TO "user";

--
-- Name: level_id_level_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.level_id_level_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.level_id_level_seq OWNER TO "user";

--
-- Name: level_id_level_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.level_id_level_seq OWNED BY public.level.id_level;


--
-- Name: paradigm; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.paradigm (
    id_paradigm integer NOT NULL,
    description_paradigm character varying(255) NOT NULL,
    type_paradigm character varying(255) NOT NULL
);


ALTER TABLE public.paradigm OWNER TO "user";

--
-- Name: paradigm_id_paradigm_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.paradigm_id_paradigm_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paradigm_id_paradigm_seq OWNER TO "user";

--
-- Name: paradigm_id_paradigm_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.paradigm_id_paradigm_seq OWNED BY public.paradigm.id_paradigm;


--
-- Name: paradigm_language; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.paradigm_language (
    id_language integer NOT NULL,
    id_paradigm integer NOT NULL
);


ALTER TABLE public.paradigm_language OWNER TO "user";

--
-- Name: author id_author; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.author ALTER COLUMN id_author SET DEFAULT nextval('public.author_id_author_seq'::regclass);


--
-- Name: language id_language; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.language ALTER COLUMN id_language SET DEFAULT nextval('public.language_id_language_seq'::regclass);


--
-- Name: level id_level; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.level ALTER COLUMN id_level SET DEFAULT nextval('public.level_id_level_seq'::regclass);


--
-- Name: paradigm id_paradigm; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.paradigm ALTER COLUMN id_paradigm SET DEFAULT nextval('public.paradigm_id_paradigm_seq'::regclass);


--
-- Data for Name: author; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: author_language; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.author_language (id_author, id_language) FROM stdin;
1	1
2	2
2	3
3	4
4	5
5	6
6	7
6	14
7	8
8	9
9	10
10	11
11	12
11	17
12	13
13	15
14	16
15	18
16	19
17	20
18	21
19	22
20	23
21	25
22	26
23	27
24	28
6	24
\.


--
-- Data for Name: language; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: level; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.level (id_level, description_level, type_level) FROM stdin;
1	These languages are closely related to the hardware architecture and usually have a direct correspondence with the processor instructions.	low level
2	These languages offer a higher level of abstraction than low-level languages and are further removed from the hardware architecture.	medium level
3	These languages are highly abstract and focus on problem solving at a more conceptual level, away from implementation details.	high level
\.


--
-- Data for Name: paradigm; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: paradigm_language; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.paradigm_language (id_language, id_paradigm) FROM stdin;
1	4
1	6
1	1
1	8
1	9
1	10
4	4
4	1
5	3
6	1
6	8
6	9
6	10
7	5
7	7
7	8
9	1
10	7
11	5
12	5
13	5
14	4
14	5
15	5
16	7
16	8
17	5
18	7
19	5
20	6
22	3
\.


--
-- Name: author_id_author_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.author_id_author_seq', 67, true);


--
-- Name: language_id_language_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.language_id_language_seq', 1, false);


--
-- Name: level_id_level_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.level_id_level_seq', 1, false);


--
-- Name: paradigm_id_paradigm_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.paradigm_id_paradigm_seq', 1, false);


--
-- Name: author_language author_language_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.author_language
    ADD CONSTRAINT author_language_pkey PRIMARY KEY (id_author, id_language);


--
-- Name: author author_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.author
    ADD CONSTRAINT author_pkey PRIMARY KEY (id_author);


--
-- Name: language language_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.language
    ADD CONSTRAINT language_pkey PRIMARY KEY (id_language);


--
-- Name: level level_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.level
    ADD CONSTRAINT level_pkey PRIMARY KEY (id_level);


--
-- Name: level level_type_level_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.level
    ADD CONSTRAINT level_type_level_key UNIQUE (type_level);


--
-- Name: paradigm_language paradigm_language_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.paradigm_language
    ADD CONSTRAINT paradigm_language_pkey PRIMARY KEY (id_language, id_paradigm);


--
-- Name: paradigm paradigm_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.paradigm
    ADD CONSTRAINT paradigm_pkey PRIMARY KEY (id_paradigm);


--
-- Name: paradigm paradigm_type_paradigm_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.paradigm
    ADD CONSTRAINT paradigm_type_paradigm_key UNIQUE (type_paradigm);


--
-- Name: paradigm_language fk40k7mi75fn11cwqicrwux2ks6; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.paradigm_language
    ADD CONSTRAINT fk40k7mi75fn11cwqicrwux2ks6 FOREIGN KEY (id_paradigm) REFERENCES public.paradigm(id_paradigm);


--
-- Name: author_language fk9de8nkfivush1crmvw9inylhp; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.author_language
    ADD CONSTRAINT fk9de8nkfivush1crmvw9inylhp FOREIGN KEY (id_author) REFERENCES public.author(id_author);


--
-- Name: paradigm_language fkamqugtv22g4e14ut1qj6pales; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.paradigm_language
    ADD CONSTRAINT fkamqugtv22g4e14ut1qj6pales FOREIGN KEY (id_language) REFERENCES public.language(id_language);


--
-- Name: author_language fkh2ywnqcc4am9ssg0linq0xfse; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.author_language
    ADD CONSTRAINT fkh2ywnqcc4am9ssg0linq0xfse FOREIGN KEY (id_language) REFERENCES public.language(id_language);


--
-- Name: language fknuq5b4ggmryei9oedbjy3qpnx; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.language
    ADD CONSTRAINT fknuq5b4ggmryei9oedbjy3qpnx FOREIGN KEY (id_level) REFERENCES public.level(id_level);


--
-- PostgreSQL database dump complete
--

